
/*
CSS Document
coder_mayan
*/

/* BEGIN RESET CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,&nbsp;hgroup, menu, nav, section, menu,
time, mark, audio, video, button {margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;}
article, aside, figure, footer, header,hgroup, nav, section { display:block; }
body{font: 12px arial,helvetica,sans-serif;color:#666;margin:0;padding: 0;background-color: #fff;}
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:'';}
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; color: #666;text-decoration: none;}
a:hover{color: #333;}
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal;font-weight:normal; }
ol,ul,li { list-style:none; }
ul, menu, dir{list-style-type: disc;-webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 0;}
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%;font-weight:normal; }
abbr,acronym { border:0; }
img{border:0;}
h1,h2,h3,h4,h5,h6 {-webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: normal;margin:0;padding: 0;}
p{margin: 0;padding: 0;-webkit-margin-before: 0;-webkit-margin-after: 0;}
fieldset{border:0;-webkit-margin-start: 0;-webkit-margin-end: 0;-webkit-padding-before: 0;-webkit-padding-start: 0;-webkit-padding-end: 0;-webkit-padding-after: 0;margin:0;padding: 0;}
/* END RESET CSS */
input[type="text"]{border:1px solid #ccc; border-radius: 3px;padding:2px;}
/* layout css */
/* text */
.f_fz_12{font-size: 12px;}
.f_fz_13{font-size: 13px;}
.f_fz_14{font-size: 14px;}
.f_fz_16{font-size: 16px;}
.f_fz_18{font-size: 18px;}
.f_fz_20{font-size: 20px;}
.f_fb{font-weight:bold;}
.f_fn{font-weight:normal;}
.f_t2{text-indent: 2em;}
.f_lh_150{line-height: 150%;}
.f_lh_180{line-height: 180%;}
.f_lh_200{line-height: 200%;}
.f_unl{text-decoration:underline;}
.f_no_unl{text-decoration:none;}
/* position */
.f_tl{text-align:left;}
.f_tr, .ar{text-align:right;}
.f_tc{text-align:center;}
.f_bc{margin: 0 auto;}
.f_fl{ float:left;display: inline; }
.f_fr{ float:right;display: inline; }
.f_clear{ clear:both; }
.f_clear_left{clear: left;}
.f_clear_right{clear: right;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.f_vm{vertical-align: middle;}
.f_pr{position: relative;}
.f_pa{position: absolute;}
.f_zoom{zoom:1;}
.f_hidden{visibility: hidden;}
.f_none{display: none;}
.f_block{display:block;}
.f_inline{display:inline;}
/* width && height */
.f_w{width: 100%;}
.f_h{height: 100%;}
/* margin && padding */
.f_mt_5{margin-top:5px;}
.f_mt_8{margin-top:8px;}
.f_mb_8{margin-bottom:8px;}
.f_ml_5{margin-left:5px;}
.f_ml_8{margin-left:8px;}
.f_mr_8{margin-right:8px;}
.f_mr_20{margin-right:20px;}
.f_m_8{margin:8px;}   
.f_pt_8{padding-top:8px;}
.f_pb_8{padding-bottom:8px;}
.f_pb_20{padding-bottom:20px;}
.f_pl_8{padding-left:8px;}
.f_pr_8{padding-right:8px;}
.f_pd_5{padding:5px 0;}
.f_p_8{padding:8px;}
.f_mt_10{margin-top:10px;}
.f_mt_15{margin-top:15px;}
.f_mt_20{margin-top:20px;}
.f_mb_10{margin-bottom:10px;}
.f_ml_10{margin-left:10px;}
.f_ml_10{margin-left:10px;}
.f_mr_20{margin-right:20px;}
.f_ml_30{margin-left:30px;}
.f_m_10{margin:10px;}
.f_pt_10{padding-top:10px;}
.f_pt_15{padding-top:15px;}
.f_pt_20{padding-top:20px;}
.f_pd_20{padding:0 20px;}
.f_pb_10{padding-bottom:10px;}
.f_pl_10{padding-left:10px;}
.f_pr_10{padding-right:10px;}
.f_p_10{padding:10px;}

.f-hide{display: none;}
.f_block{display: block;}
.f-red,.f_red{color: #cc3333;}
.f_bold,.f-bold{font-weight: bold;}



